<h1>Your Cart</h1>
<% @cart.cart_items.each do |cart_item| %>
  <% product = cart_item.product %>
  <p><%= product.name %> * <%= cart_item.quantity %> = $<%= product.price * cart_item.quantity %></p>
<% end %>
<p>Your total product quantity $<%= @cart.totalUnits %> </p>
<p>Your total is $<%= @cart.total %> </p>
<a href="<%= products_path %>"><button type="button">Continue shopping</button></a>
 <%= link_to "Check out!", new_order_path, method: :post, class: "checkout-button" %>
