<!-- app/views/shippings/success.html.erb -->
<h1>Shipping Successful!</h1>

<p>
  Shipping details:
  <br>
  Full Name: <%= @shipping.fullname %>
  <br>
  Address: <%= @shipping.address %>
  <br>
  Email: <%= @shipping.email %>
  <br>
  Phone Number: <%= @shipping.phoneNumber %>
  <br>
  Bank: <%= @shipping.bank %>
</p>


<div id="order-items-container">
   <%= render 'order/order_items', order: @order %>
</div>
<br>
<p>Thank you for your shipping request.</p>

<a href="<%= products_path %>"><button type="button">Back to store</button></a>


