<section class="menu" id="menu">
  <div class="box-container">
    <% if @products.present? %>
        <div class="box">
          <div class="image">
            <%= image_tag product[:image_url], alt: "" %>
            <a href="#" class="fas fa-eye"></a>
          </div>
          <div class="content">
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h3><%= product[:name] %></h3>
            <p><%= product[:description] %></p>
            <a href="#" class="btn">Add to cart</a>
            <span class="price">$<%= product[:price] %></span>
            <%= form_with(url: carts_add_item_path) do |f| %>
              <%= f.hidden_field :id, value: product.id %>
              <%= f.number_field :quantity, value: 0, min: 1 %>
              <%= f.submit "Add To Cart" %>
            <% end %>
          </div>
        </div>
    <% else %>
      <p>No products found.</p>
    <% end %>
  </div>
</section>
