<div id="<%= dom_id product %>" class="product-card">
  <% if product.image_url.present? %>
    <div class="product-image">
      <%= image_tag product.image_url, alt: "#{product.name} image" %>
    </div>
  <% else %>
    <div class="no-image">No image available</div>
  <% end %>
  <div class="product-details">
    <div>
      <strong>Name:</strong>
      <%= product.name %>
    </div>
    <div>
      <strong>Description:</strong>
      <%= product.description %>
    </div>
    <div>
      <strong>Price:</strong>
      <%= product.price %>
    </div>
    <% product_categories = ProductCategory.where(product_id: product.id) %>
    <% if product_categories.any? %>
      <p>Categories:</p>
      <ul>
        <% product_categories.each do |product_category| %>
          <li><%= product_category.category.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Categories: N/A</p>
    <% end %>
    <%= form_with(url: carts_add_item_path) do |f| %>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.number_field :quantity, value: 0, min: 1 %>
      <%= f.submit "Add To Cart" %>
    <% end %>
  </div>
</div>
