<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "header.css" %>
<%= stylesheet_link_tag "card.css" %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%# <div class="header">
    <h1>TECNO LOVERS</h1>
</div> %>
  <%= render partial: "carts/cart" if @render_cart %>
<header class="header">

  <a class="logo">
    <%# <img src="logo.jpg" /> %>
    <i class="fas fa-store"></i> TECNO LOVERS
  </a>



<form action="<%= products_path %>" class="search-form">
  <input type="search" name="search" id="search-box" placeholder="Search here...">
  <label for="search-box" class="fas fa-search"></label>
  <input type="submit" value="Search">
</form>

  <div class="icons">
    <a href="/home">
     <div id="menu-btn" class="fas fa-home"></div>
    </a>
    <a href="/admin" class="fas fa-user"></a>
    <a href="" class="fas fa-shopping-cart"></a>
  </div>
</header>
<h3 class="sub-heading">Products</h3>
<h1 class="heading">Products + Category</h1>
<%= will_paginate @products %>

<p style="color: green"><%= notice %></p>

<section id="products" >
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
</section>

<section class="footer" id="footer">

    <div class="box-container">

        <div class="box">
            <h3>Contact information (Stiwar)</h3>
            <a href="#"> <i class="fas fa-phone"></i> +57 3044173389 </a>
            <a href="#"> <i class="fas fa-envelope"></i> stiwarsg11@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Medellin, Colombia</a>
        </div>

        <div class="box">
            <h3>Social Networks</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> Facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> Twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> Instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> Linkedin </a>
        </div>

        <div class="box">
            <h3>Contact information (Daniel)</h3>
            <a href="#"> <i class="fas fa-phone"></i> +57 3116886868 </a>
            <a href="#"> <i class="fas fa-envelope"></i> valenciadaniel8022015@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Medellin, Colombia</a>
        </div>

        <div class="box">
            <h3>Social Networks</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> Facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> Twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> Instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> Linkedin </a>
        </div>

    </div>

    <div class="credit"> Created by Stiwar Salazar & Daniel Valencia | All rights reserved &copy; <?php echo date('Y')?> </div>

</section>


<%# <%= link_to "New product", new_product_path %>
