<!--<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>

  <%= link_to "Edit this product", edit_product_path(@product) %>
  <%= link_to "Back to products", products_path %>
  <%= button_to "Destroy this product", @product, method: :delete %>

</div>-->
<%= stylesheet_link_tag "productDetail.css" %>
<body class="bodyDetail">
  <div class="cardDetail">
    <div class="imgDetail"></div>
      <%= image_tag params[:image_url], alt: "" %>
    <div class="details">
      <div class="title">
        <h3><%= params[:product_name] %><br>
          <small>Lenovo</small>
        </h3>
      </div>
      <div class="description">
        <h4>Description</h4>
        <p><%= params[:product_description] %></p>
      </div>
      <div class="buy">
        <div class="priceDetail">
          <sup>$</sup>
          <span><%= params[:product_price] %></span>
        </div>
        <div class="btnBuy">
          <a href="#">Buy</a>
        </div>
      </div>
    </div>
  </div>
</body>
